.mobile-menu-container{display: none;}
.cover {
    display: block;
    position: fixed;
    background-color: rgba(0, 0, 0, 0.6);
    height: 100vh;
    width: 0px;
    overflow: hidden;
}
@media (max-width:950px){
    /* The mobile menu */
    .mobile-menu-container{
        display: block;
        position: absolute;
        width: 100%;
        height: 76px;

        z-index: 50;
        background-color: white;
        border-bottom: 1px solid rgba(152, 152, 152, 0.6);
    }
    .mobile-menu-group {
        display: grid; 
        grid-template-columns: repeat(2, auto);
        justify-content: space-between;
        align-content: center;
        
        height: 100%;
    }
    
    /* Logo container */
    .mobile-logo-container {
        display: grid;
        align-items: center;
        height: 100%;
        padding:0 15px 0 15px; 
    }
    
    /* Image of the logo */
    .logo {
        left: 0;
        top:0;
        height: 23px;
        position: relative;
        display: block;
    }

    /* Hamburger menu */
    .mobile-menu-group button {
        margin-right: 20px;
        background-color: white;
        border: none;
        padding: 7px;
        border-radius: 5px;
        transition: background-color ease-out 0.15s;
    }
    .mobile-menu-group button:hover, .side-menu-group button:hover {
        background-color: #EBEBEB;
    }
    /* Cover over the blog */
    .cover.show {
        width: 100vw;
        z-index: 1000;
        right: 0;
        float: right;
    }
    /* Side menu. Only open when the button is clicked. */
    .side-menu-container {
        width: 0; transition: 
        ease-out 0.25s width;
        overflow:hidden;
    }
    .show .side-menu-container {
        height: 100vh;
        width: 260px;
        position: fixed;
        right:0;
        background-color: white;
        overflow-y: scroll;
    }
    .side-menu-group {
        display: grid;
        grid-template-columns: repeat(1, auto);
        justify-content: center;
    }
    /* The X button */
    .side-menu-group button {
        justify-self: end;
        border: none;

        background-color: white;
        margin: 7px;
        border-radius: 5px;
    }

    /* Link sections. Pages and mobile section */
    .mobile-pages-section, .mobile-recent-posts {
        width: 80%;
        margin: 0 auto;
    }
    .mobile-pages-section h2, .mobile-recent-posts h2 {
        width: auto;
        height: 20px;
        margin: 40px auto 30px auto;
        justify-self: center;

        font-family: Lato;
        font-style: normal;
        font-weight: 900;
        font-size: 18px;
        line-height: 0px;

        display: flex;
        align-items: center;
        text-align: center;
        letter-spacing: 0.05em;
        font-feature-settings: 'kern' off;

        color: #1E1E1E;
    }
    .mobile-pages-section a , .mobile-recent-posts a{
        width: 165px;
        margin: 0 auto;
        color: black;
        text-decoration: none;
    }
    .mobile-pages-section a:hover , .mobile-recent-posts a:hover{
        color: #14C7A8;
    }

    
    .mobile-pages-section {
        display: grid;
        grid-template-columns: repeat(1, auto);

        font-family: Lato;        
    }
    .mobile-pages-section a {
        font-style: normal;
        font-weight: normal;
        font-size: 16px;
        height: 40px;
    
        /* or 0% */
        display: flex;
        align-items: center;
        letter-spacing: 0.05em;
        font-feature-settings: 'kern' off;
    }
    .mobile-recent-posts {
        display: grid;
        grid-template-columns: repeat(1, auto);
    }
    .mobile-recent-posts div {
        margin: 20px auto;
        width: 100%;
    }
    .mobile-recent-posts a {
        text-align: left;
    }


    

}