.post-group {
    grid-gap: 10px;
    display: grid;
    padding: 0px 0px 0 250px;
    /* width: 100%; */

}
.blog-thumbnail {max-width: 400px; height: 300px; margin: 0px; padding: 0;}
.gradient-container {
    width: 100%;
    display: flex; 
    justify-content: center;
    align-items: center;
    height: 450px;
    margin-bottom: 180px;
    background: rgb(60,120,220);
    background: linear-gradient(43deg, rgba(60,120,220,1) 0%, rgba(80,210,200,1) 100%); 

}
.title-group {
    display: grid;
    grid-template-columns: repeat(2, auto);
    width: 80%;
    height: auto;
    position: relative;
    justify-content: center;
}
.title-text-group { 
    background-color: white;
    padding-right: 40px; 
    padding-left: 20px;
    height: 100%;
    max-width: 450px;

}
.title-text-group h1, h2, p {font-family: 'Quicksand', sans-serif;}
.title-text-group h1{color: black;}
.title-text-group h2 {
    /* width: 450px; */
    font-size: 15px;
    color: black;
    font-weight: 600;
}
/* TODO add more margin bottom */
/* TODO, more paragraph spacing */
/* TODO, Test bigger images and add a size limit. */
.info-group {display: flex;}
.info-group p {padding-right: 17px; color: black;}
.title-tags {color: black;}
.body-group p, img, .code-toolbar {
    margin: 0px auto;
    padding: 30px 0 30px 0;
    position: relative;
    display: block;
}
.body-group{word-spacing: 5px;}
