/* TODO, Make 1360 size the default */
/* Main section for the posts */
.posts-container {
    position: relative;
    top: 61px;
    margin-left: 527px;
}
/* The container for one blog post */
.blogpost-container {
    position: relative;
    width: 840px;
    height: 225px;
    margin-left: 40px;
    margin-bottom: 76px;

    background: #FFFFFF;
    box-shadow: 0px 0px 50px 1px rgba(5, 54, 45, 0.12);
    border-radius: 4px;
}
/* Blog post grid. Is also a a tag */
.blogpost-group {
    display: grid;
    grid-template-columns: repeat(2, auto);
    padding-top: 18px;
    padding-bottom: 18px;

    text-decoration: none;
    height: 100%;
}
/* thumbnail of the blog post */
.blogpost-group img {
    width: 250px;
    height: 187.5px;
    justify-self: center;
}
/* Contains the title, tags, date and read more button */
.blogpost-text-group  {width: 461px;}
.blogpost-text-group h3 {
    position: relative;
    width: 461px;
    height: 71px;
    margin-top: 0px;
    margin-bottom: 0;

    line-height: 28px;
    letter-spacing: 0.08em;

    color: #000000;
}
.blogpost-group:hover h3 {
    color: #14C7A8;
}
/* Contains tags and date */
.blogpost-info {display: flex; margin-top: 5px;}
.blogpost-info p {margin-top: 0; margin-bottom: 0;}
.blogposts-tags {
    margin-right: 30px;
    position: relative;
    height: 25px;

    font-size: 20px;
    line-height: 24px;
    letter-spacing: 0.07em;

    color: #05362D;
}
.blogposts-date {
    margin-left: 18px;

    font-family: Lato;
    font-style: normal;
    font-weight: 300;
    font-size: 20px;
    line-height: 24px;
    letter-spacing: 0.07em;

    color: #000000 ;
}
/* The read more button */
.read-more {
    position: relative;
    width: 174px;
    height: 71px;
    float: right;

    text-align: end;
    font-style: normal;
    font-weight: normal;
    font-size: 23px;
    line-height: 27px;
    
    /* I use flex to align the tecxt the way I want  */
    display: flex;
    align-items: center;
    justify-content: center;

    color: #14C7A8;
}
@media (max-width:1360px){
    .blogpost-container {width: 616px; margin-left: 0;}
    .blogpost-group {padding-bottom: 0; height: auto;}
    .blogpost-group img {width: 200px; height: 150px;}
    .blogpost-text-group {
        width: 327px;
    }
    .blogpost-text-group h3 {
        font-size: 20px;
        width: 329px;
    }
    .blogpost-info p {font-size: 17px;}
    .blogposts-tags {margin-right: 21px;}
    .blogposts-date {margin-left: 6px;}
    .read-more {font-size: 21px;}
}
@media (max-width:1160px){
    .posts-container{margin-left:350px; max-width: 630px;}
    .blogpost-container{height:175px;display:grid; align-items: center;}
    /* TODO, Use align itmes in all blogpost-group */
    .blogpost-group{align-items: center; padding: 0;}
    .blogpost-text-group{height: 150px; width: 271px;}
    .blogpost-text-group h3{
        line-height: 1; 
        font-size: 17px;
        height: 56px;
        width: 271px;
    }
    .blogpost-info p {font-size: 14.5px;}
    /* TODO, add text align end to all read more buttons */
    .read-more {
        display: block;
        font-size: 18px; 
        height: auto; 
        margin: 37px 0 0 0;
        text-align: end;
    }
}
/* Small adujustment */
@media (max-width: 1000px) {
    .posts-container {margin-left: 273px;}
}
@media (max-width:950px){
    .posts-container {
        left: 0px;
        top: 83px;
        margin-inline: auto;
    }
}
@media (max-width:650px) {
    .blogpost-container {
        height: 170px;
        max-width: 483px;
        width: 100vw;
        margin-inline: auto;
    }
    .blogpost-group {
        height: 100%;
        justify-content: start;
    }
    .blogpost-group img {
        width: 140px;
        height: 105px;
        margin-left: 20px
    }
    .blogpost-text-group {
        height: 105px;
        width: auto;
        margin-left: 30px;
    }
    .blogpost-text-group h3 {
        font-size: 13.3px;
        max-width: 255px;
        width: auto;
        height: auto;
    }
    .blogpost-info {
        margin-top: 17px;
        width: auto;
    }
    .blogpost-info p {
        font-size: 10.5px;
    }
    .blogposts-tags {
        margin-right: 10px;
    }
    .read-more {
        font-size: 12.5px;
        margin: 10px 30px;
        width: auto;
    }
}
@media(max-width:500px) {
    .post-list {

    }
    .blogpost-group img {
        width: 117px;
        height: 87.75px;
        margin-left: 0;
    }
    .blogpost-text-group {
        margin-left: 14px;
        height: 87.75px;
    }
    .blogpost-text-group h3 {
        font-size: 12px;
    }
    .blogpost-info p {
        font-size: 10px;
    }
}