:root {
    --one: #2A9D8F;
    --two: #13293D;
    --three: #EFEA5A;
    --four: #DE3C4B;
    --five:  rgba(90,160,200,1);
    --six: rgba(80,225,200,1);
    --postHeight: 180px;
}
body {
    background-color: white;
}
.post-group {
    grid-gap: 10px;
    display: grid;
    padding: 30px 0px 0 280px;
}
.blogpost-container {
    /*TODO, adjust for all browsers*/
    /* box-shadow: 1px 2px 27px 3px rgba(0,0,0,0.16);
    -webkit-box-shadow: 1px 2px 27px 3px rgba(0,0,0,0.16);
    -moz-box-shadow: 1px 2px 27px 3px rgba(0,0,0,0.16);
    border-radius: 0px; */
    /* border-bottom: 1px solid #eee; */
    /* border-bottom: 1px solid #dcdcdc;; */
    width: 700px;
    box-shadow: 0 0 10px rgba(52,64,114,0.12);
    height: 220px;
    border: none;
}
/* .blogpost-container:hover {
    border: 1px solid;
    border-image-slice: 1;
    border-image-source: linear-gradient(270deg, rgba(90,160,200,1) 0%, rgba(80,225,200,1) 100%);
} */
.blogpost-group {
    display: grid;
    grid-template-columns: repeat(2, auto);
    justify-content: start;
    text-decoration: none;
    color: var(--two);
}
.blogpost-group img {
    width: 240px;
    height:220px;
    /* margin: auto 0; */
}
.blogpost-text-group {
    margin-left: 30px;
}
.blogpost-info {
    display: flex;
}
.blogpost-info p {
    margin:0 14px 0 0px;
}
.blogpost-tags {
    color: rgba(90,160,200,1);
}