:root {
    --one: rgba(0,152,240,1);
    --two:  rgba(90,160,200,1);
    --three: rgba(80,225,200,1);
    --four: #53b4ed;
    --postHeight: 180px;
    --timing: 0.20s;
}
@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap');
body { background-color: white; margin: 0;}
h3, h4, p, a {font-family: 'Quicksand', sans-serif;}
h1 {font-size: 27px;}