/* background: rgb(19,41,61);
background: linear-gradient(0deg, rgba(19,41,61,1) 0%, rgba(20,19,61,1) 100%); */
/*TODO, Check what is the minamal size for icons*/
.nav-container {
    background-color: var(--two);
    /* background-color: aquamarine; */
    display: block;
    position: fixed;
    width: 300px;
    height: 600px;
    right: 50px;
}
.nav-group {
    display: grid;
    justify-content: center;
    color: white;
}
.nav-group a, img {
    width: 40px;
}
.nav-group h3 {
    text-align: center;
}
a.portfolio-link {
    color: white;
    text-decoration: none;
    width: auto;
    font-size: 24px;
    padding-top: 30px;
    text-align: center;
}